kivy
kivy-garden
mapview
kivymd
kivymd-extensions
kivymd-extensions.sweetalert
kivymd-extensions.akivymd
cryptography
matplotlib
screeninfo
minimalmodbus
pymodbus
pyserial
requests
watchdog
ephem
pytz


# Buildozer requiements - akivymd
# requirements = https://github.com/kivymd-extensions/akivymd/archive/main.zip