kivy
kivymd
kivymd-extensions
kivymd-extensions.akivymd
kivymd-extensions.sweetalert
screeninfo
watchdog
cryptography
matplotlib
requests
ephem
pyserial
pymodbus



# Buildozer requiements - akivymd
# requirements = https://github.com/kivymd-extensions/akivymd/archive/main.zip